<div class="container">
  <div class="map-user">
    <h4><%= address.addressable.first_name %></h4>
    <img src="<%= cl_image_path address.addressable.photo.key %>" alt="avatar">
  </div>
  <div class="user-skills">
    <ul>
      <% address.addressable.skills.each do | skill | %>
        <li><h6><%= skill.name  %></h6></li>
      <% end %>
    </ul>
  </div>
</div>

