// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$text: #000000;
$background: #F4F7F6;
$accent: #49C5B6;
$tag-1: #8153EF;
$tag-2: #FF4E4E;
$tag-3: black;
$tag-4: black;
$tag-5: black;
$tag-6: black;
$tag-7: black;
$tag-8: black;
$tag-9: black;


.bkgrd-accent {
  background-color: $accent;
}
.button.border-accent {
  border-color: $accent;
}

.font-white {
  color: $background;
}
