// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$text: #000000;
$background: #F4F7F6;
$accent: #49C5B6;
$tag-1: #8153EF;
$tag-2: #FF4E4E;
$tag-3: #FF4E4E;
$tag-4: #FF4E4E;
$tag-5: #FF4E4E;
$tag-6: #FF4E4E;
$tag-7: #FF4E4E;
$tag-8: #FF4E4E;
$tag-9: #FF4E4E;


