<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="review-modal-title">"Leave a review for <%= @listing.user.first_name %>"</h5>
        <button type="button centered" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render  "img_form" %>
   <div class="modal-footer">
    <button type="button" class="button standard accent" data-dismiss="modal">Close</button>
    <input type="submit" name="commit" value="Submit" class="button standard accent fill" data-disable-with="Let's Teach!">
  </form>
  </div>
    </div>
  </div>
</div>
