<div class="container">
  <div class="top-buttons">
    <div class="button standard accent fill"><%= link_to "Create new listing", new_listing_path %></div>
    <div class="button standard accent"><%= link_to "Back", root_path %></div>
    <div class="button standard accent fill"><%= link_to "See people near you!", users_map_path %></div>

  </div>
  <div class="listing-index-grid">
    <%= render "listing_card" %>
  </div>
</div>

