.booking-show-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "booking-details teacher-bio"
    "listing-card teacher-bio"
    "listing-card teacher-bio"
    "map map"
    "map map";
}

.booking-details { grid-area: booking-details; }

.teacher-bio { grid-area: teacher-bio; }

.listing-card { grid-area: listing-card; }

.map { grid-area: map; }
