.listings-show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-bar {
  display: flex;
  justify-content: center;
}

#change-image-button {
  position: absolute;
  bottom: 5%;
  left: 2%;
}
