<%= link_to "Create new booking", new_listing_booking_path %>

<% @bookings.each do |booking| %>
<p> <%= booking.date %> </p>
<p> <%= booking.status %> </p>
<p> <%= booking.user_id %> </p>
<% end %>

