<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url( <%= image_path('homepage_banner')%>);">
  <div class="banner-details">
    <div class="banner-header">
      <h1>Master what other people have already figured out</h1>
    </div>
    <div class="banner-buttons">
      <div class="button standard accent fill"><%= link_to 'I WANT TO LEARN', listings_path,class: ""%></div>
      <div class="button standard accent whitetext "><%= link_to 'I WANT TO TEACH', new_listing_path, class: ""%></div>
    </div>
  </div>
</div>
