<div class="footer-container">
<div class="footer-logo">
    <%= link_to "BOOMZY", "#",  class: "nav-logo" %>
</div>
<div class="footer-links"></div>
  <div class="footer-link-column">
    Links
  </div>
  <div class="footer-link-column">
    Links
  </div>
  <div class="footer-link-column">
    Links
  </div>
</div>
