<div class="recent-reviews bg-white">
  <div class="container bg-grey">
    <br>
    <br>
    <h3>How it works</h3>
    <br>
    <div class="row">
      <div class="how-it-works-card col-12 col-md-4 col-lg-3">
        <%= image_tag("profile-01.png") %>
        <br>
        <br>
        <h6>Create your profile</h6>
        <br>
        <br>
      </div>
      <div class="how-it-works-card col-12 col-md-4 col-lg-3">
        <%= image_tag("choose-02.png") %>
        <br>
        <br>
        <h6>Choose your topic</h6>
        <br>
        <br>
      </div>
      <div class="how-it-works-card col-12 col-md-4 col-lg-3">
        <%= image_tag("calendar-03.png") %>
        <br>
        <br>
        <h6>Book a meeting</h6>
        <br>
        <br>
      </div>
      <div class="how-it-works-card col-12 col-md-4 col-lg-3">
        <%= image_tag("meetup-04.png") %>
        <br>
        <br>
        <h6>Meet your teacher</h6>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
