<div class="search-form-background bg-white mt-0">
  <div class="container" id="scroll-target">
    <br>
    <br>
    <h3>What would you like to learn?</h3>

    <br>
    <%= simple_form_for :listing, url: listings_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <select class="form-control" id="skill-query" name="skill">
       <option value="none" selected disabled hidden>
          Select a Category
      </option>
        <option value="Crafts">Crafts</option>
        <option value="Woodworking">Woodworking</option>
        <option value="Painting">Painting</option>
        <option value="Music">Music</option>
        <option value="Writing">Writing</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Photography">Photography</option>
        <option value="Drawing">Drawing</option>
        <option value="Gardening">Gardening</option>
      </select>
      <input class="form-control string required" type="address" default="anywhere" placeholder="Location" name="address" id="location-query" />
      <div class="button-container">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <% end %>
      <br>
      <br>
    </div>
    <br>
    <br>
  </div>
