<%= render 'shared/banner' %>
<%= render "shared/search_form" %>
<%= render "shared/category_card" %>

<div class="recent-reviews bg-white">
  <div class="container">
    <br>
    <br>
    <h4>Recent reviews</h4>
    <br>
    <p>..</p>
    <p>..</p>
    <p>..</p>
    <p>..</p>
    <br>
  </div>
</div>



