<%= render 'shared/banner' %>
<%= render "shared/search_form" %>
<%= render "shared/category_card" %>

<div class="recent-reviews bg-white">
  <div class="container">
    <br>
    <br>
    <h4>How it works</h4>
    <br>
    <div class="row">
      <div class="how-it-works-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <p>..</p>
      </div>
      <div class="how-it-works-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <p>..</p>
      </div>
      <div class="how-it-works-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <p>..</p>
      </div>
      <div class="how-it-works-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <p>..</p>
      </div>
    </div>
    <br>
  </div>
</div>



