<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="button accent fill"><%= link_to 'I WANT TO LEARN', class: ""%></div>
<div class="button accent"><%= link_to 'I WANT TO TEACH', class: ""%></div>
