.acct-listing-card {
  overflow: hidden;
  display: flex;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  align-items: center;
  // background-color: $background;
  margin: 20px 10px;
}

.image-title {
  color: white;
  opacity: .9;
  text-align: center;
  padding: 10px;
}

.create-listing {
  justify-content: end;
}

.acct-listing-card {
  display: flex;
}

.l-skill {
  margin-top: 10px;
  text-align: right;
  margin-right: 5px;
}

.listings-box a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.listings-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.l-description {
  padding: 20px;
}

.request-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-buttons {
  display: flex;
  justify-content: space-between;
}
.status-btn {
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .acct-listing-card {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 330px;
  }

  .l-edit {
    margin: 10px;
    text-align: right;
    margin-right: 5px;

  }

  .listing-card-info {
    background-color: $background;
  }

}

@media screen and (min-width: 800px) {
  .acct-listing-card {
    justify-self: center;
    align-items: center;
  }

  .listing-card-info {
    // position: relative;
  }

  .l-edit {
    text-align: right;
  }

  .l-skill {
    text-align: right;

  .l-title {
  display: flex;
  align-items:center;
  justify-content: center;
  img {
    margin: 5px;
  }
}

  }
}

