.acct-listing-card {
  overflow: hidden;
  display: flex;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  align-items: center;
  background-color: $background;
}



.image-title {
  color: white;
  opacity: .9;
  text-align: center;
  padding: 10px;
}

.acct-listing-card {
  display: flex;
}


.listings-box a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.listings-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.l-description {
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .acct-listing-card {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 330px;
  }

  .l-edit {
    margin: 10px;
    text-align: right;
    margin-right: 5px;

  }

  .l-skill {
    margin-top: 10px;
    text-align: right;
    margin-right: 5px;
  }
  .listing-card-info {
    background-color: $background;
  }

}

@media screen and (min-width: 800px) {
  .acct-listing-card {
    justify-self: center;
    align-items: center;
  }

  .listing-card-info {
    position: relative;
  }

  .l-edit {
    position: absolute;
    bottom: -60px;
    right: 5px;
  }

  .l-skill {
    position: absolute;
    top: -50px;
    right: 5px;
  }
}


// .card-product {
//   height: 120px;
//   display: flex;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }
