.anchor-links a {
  color: $accent;
  text-decoration: none;
  border-bottom: 3px solid $accent;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: $accent;
    text-decoration: none;
  }
}

.anchor-links {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
