.button {
  border-radius: 8px;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.button.accent {
  border-color: $accent;
}

.button.accent a{
  color: black;
  text-decoration: none;
}

.button.accent.fill{
  background-color: $accent;
}
