.category-card {
  width: 100px;
  height: 230px;
  margin-bottom: 36px;
}

.category-card:hover{
  .category-title{
  box-shadow: 2px 2px 40px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  }
}

.category-card a > img {
  width: 100%;
  height: 90%;
  left: 80px;
  bottom: 344px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.category-title {
  background-color: white;
  padding: 5px 0px;
  transition: 0.3s;
}

.category-title > h6 {
  padding: 0px 0px 0px 8px;
  margin: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.category-card a{
  text-decoration: none;
}
