.chat-card{
  padding: 15px;
  background: $background;
  width: 100%;
  height: 560px;
  position: relative;
}

.chat-button{
  display: flex;
}

.chat-call-buttons{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  margin:0px 0px 0px -14px;
}

