.listing-booking-form {
  background-color: $background;
  border-radius: $border-radius-lg;
  padding: 16px;
  max-height: 190px;
  margin-bottom: 32px;
}

@media (max-width: 991px) {
  .listing-booking-form {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
  }
}


