.listing-card{
  height: 415px;
  width: 350px;
  display: flex-column;
  background: $background;
}

.listing-card-border {
  padding: 10px;
  transition: background .5s;
}

.listing-card-border:hover {
  background-color: $accent;
  transition: background .5s;
}

.listing-card-border-fill {
  background: $background;
}

.listing-card a:link{
  text-decoration: none;
}

.listing-card a{
  color: $text;
}

.listing-card-img{
  // height: 250px;
  width: 100%;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img{
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 330px;
}

.card-img h1{
  color: $background;
  font-size: 60px;
  margin: 10px;
}

.listing-card-info{
  margin:0 5px;
  font-size: 14px;

}

.card-level{
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.card-description > p {
  margin: 10px 0;
  min-height: 63px;
  font-size: 13px;
}

.card-user{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F4F7F6;
}

.card-user > p {
  // margin: 0 0 0 6px;
  align-items: center;
}

.card-categories{
  display: flex;
  align-content: center;
  padding-bottom: 5px;
}

.card-category{
  margin: 0px;
  display: flex;
  align-content: center;
  margin-right: 5px;
  font-weight: lighter;
  color: $white;
  padding: 2px 5px;
  width: auto;
  background: $purple;
  border-radius: 20px;
  font-size: small;
}
.teacher-first-name {
  margin-left: 10px;
  margin-bottom: 0px;
}
.skill-level-info {
  margin: 0px;
}


// ------------------------
//   WIDE (Booking#Show)
// ------------------------


.listing-card-wide{
  width: 100%;
  display: flex-column;
  justify-content: center;
  background-color: $white;
  border: solid 1px black;
}

.listing-card-wide a:link{
  text-decoration: none;
}

.listing-card-wide a{
  color: $text;
}
