.listing-card{
  margin: 10px 0px;
  height: 430px;
  width: 350px;
  display: flex-column;
  background: $background;
}

.listing-card a:link{
  text-decoration: none;
}

.listing-card a{
  color: $text;
}

.listing-card-img{
  height: 250px;
  width: 350px;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img{
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 330px;
}

.card-img h1{
  color: $background;
  font-size: 60px;
  margin: 10px;
}

.listing-card-info{
  margin: 20px;
  font-size: 14px;

}

.card-level{
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description > p {
  margin: 0px 0px 6px 0px;
  min-height: 63px;
}

.card-categories{
  display: flex;
}

.card-user{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F4F7F6;
  padding: 6px 0px;
}

.card-user > p {
  margin: 0 0 0 6px;
  align-items: center;
}


.card-category{
  margin-right: 5px;
  font-weight: lighter;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  height: auto;
  width: auto;
  background: $purple;
  border-radius: 20px;
  font-size: small;
}

.skill-level-info {
  margin: 0px;
}


// ------------------------
//   WIDE (Booking#Show)
// ------------------------


.listing-card-wide{
  width: 100%;
  display: flex-column;
  justify-content: center;
  background-color: $white;
  border: solid 1px black;
}

.listing-card-wide a:link{
  text-decoration: none;
}

.listing-card-wide a{
  color: $text;
}
