.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-user {
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}
