.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  color: white;
  background-color: $accent;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.user-skills {
  ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
  }
  text-align: center;
}

.map-user {
  border-radius: 5px;
  padding: 10px;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}
