.search-container{
  width: 100%;
  justify-content: center;
}

.search-bar{
  justify-content: center;
  width:100%;
}

.search-but{
  display: flex;
  justify-content: center;
}

.search-fields{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field1-wrapper{
  width: 40% !important;
}

.search-field1{
  width: 100% !important;
  border-radius: 5px;
  border: 2px solid $accent;
  margin: 5px;
  padding: 5px;
  height: 40px;
}

.search-field1:focus{
  border: 3px solid $accent;
}

.search-field1:hover{
  border: 3px solid $accent;
}

.search-field2-wrapper{
  width: 40% !important;

}

.search-field2{
  width: 100% !important;
  border-radius: 5px;
  border: 2px solid $accent;
  margin: 5px;
  padding: 5px;
  height: 40px;

}

.search-field2:focus{
  border: 3px solid $accent;
}

.search-field2:hover{
  border: 3px solid $accent;
}

.search-button{
  background: $accent;
  border-radius: 5px;
  height: 40px;
  width: 20%;
}

#section-2{
  justify-content: center;
  display: flex;
  width: 100%;
}

.form{
  width: 100%;
}

.search-text{
  margin-left: 12%;
}
