.search-container{
  background: $accent;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-form-control {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.search-form-control .search-group{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-form-control .btn {
  border-radius: 5px;
  margin: 5px;
}

.button-container{
  height: 4rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid $accent;
  border-left: none;
  background: $accent;
  color: $text;
  font-size: 25px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  padding: 2px;
}

.search-form-control .form-control {
  height: 4rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid $accent;
  background: $white;
  color: $text;
  font-size: 25px;
  margin-top: 5px;
  position:relative;
}

#skill-query{
  border-radius: 15px 0px 0px 15px;
}

#skill-query:hover{
  border: 2px solid $accent;
}

#location-query{
  border-right: none;
}

#location-query:hover{
  border: 2px solid $accent;
  border-right: none;
  + .button-container{
    border: 2px solid $accent;
    border-left: none;
  }
}



.search-form-control .form-control::placeholder {
  color: $text;
}

.search-form-control .form-control:focus {
  border: 2px solid $accent;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  + .button-container{
    border: 2px solid $accent;
    border-left: none;
  }
}

#skill-filter{
  border-radius: 15px;
}

