.teacher-bio{
  height: 100%;
  // padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }


.teacher-card-image{
  width: 200px;
  // margin-right: 10px;
  text-align: center;
  padding: 10px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teacher-card-image img {
  height: 180px;
  width: 180px;
  // background: white;

  // &:hover {
  //   background: $accent;
  //   opacity: .8;
  // }
}


.teacher-name {
  display: inline;
  font-size: 35px;
  vertical-align: middle;
}

.teacher-card-details{
  padding: 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-bio {
  margin-top: 15px;
  margin-left: 5px;
}
.user-motivation {
  margin-top: 25px;
  margin-left: 5px;
}
.date-time {
  border: solid black 2px;
  width: 350px;
  padding: 15px;
  margin: 10px;
}
