.teacher-card {
  border: solid black 2px;
  height: 564px;
  padding: 15px;
  background: $background;
}
.teacher-name {
  display: inline;
  font-size: 35px;
  vertical-align: middle;
}

.date-time {
  border: solid black 2px;
  width: 350px;
  padding: 15px;
  margin: 10px;
}
