<div class="anchor-links mt-3" id="anchor-links">
  <a href="#profile">Profile</a>
  <a href="#listings" class="button">Listings</a>
  <a href="#bookings">Bookings</a>
  <a href="#teachings">Booking Requests</a>
</div>
